* {
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    z-index: 1;

    .navini {
        padding-right: 50px;
        padding-left: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        a {
            color: black;
            font: $title-font;
            margin-right: 75.5px;
            text-decoration: none;
            padding-inline: 12px;
        }

        img {
            width: 100px;
            height: auto;
            margin: 0 0 3px 0;
            border-bottom: 2px solid black;

        }
    }

}