section#prods {
    font: $title-font;

    div.maqsini-img {
        display: flex;
        justify-content: center;
        gap: 25px;
        text-align: center;
        flex-wrap: wrap;


        div.img-envios {

            img {
                height: auto;
                width: 333px;
                padding-inline: 16.5px;
                border: 4px outset #fd50ff;
                margin-top: 10px;
                background-color: white;
                transition: 1s ease 0s;

            }

            h3 {
                font-size: 22px;
                color: gray;
                font-weight: bold;
                padding-top: 10px;
            }
        }
    }



    div.slogan-1 {
        text-align: center;
        margin: 50px 0px 50px 0px;
        font-size: 20px;
        background: #ffff;



    }

    div.maquinas4 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;

        img {
            height: auto;
            width: 250px;
            padding-right: 25px;
            padding-left: 25px;
            margin-right: 5px;
            margin-left: 5px;
            margin-bottom: 30px;
            transition: 1s ease 0s;
            background-color: white;
            border: 4px outset #fd50ff;

        }

      
    }
}

section#vision {
    font: $title-font;

    div.visionini {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 600px);
        justify-content: center;
        align-items: center;


        div.vitext {
            background-color: white;
            font-size: 19px;
            margin: 20px;


            a {
                color: white;
                padding: 10px;
                background-color: black;

            }

            div.conocer-mas {
                display: flex;
                flex-wrap: wrap;


            }
        }
    }

    img.slide-img {
        height: auto;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .video {
        height: 500px;
        width: 100%;
    }

    div.ig-padre {
        text-align: center;
        margin: 50px;
        font-size: 20px;
        flex-wrap: wrap;

        div.igini {
            a {
                font-size: 35px;
                font-weight: bold;
                text-decoration: none;
                color: #a62a9b;
                text-shadow: -14px 35px 5px #f100f1;
                
            }
        }
    }
}