@media all and (min-width:800px) and (max-width:1110px) {
    #grilla {
        grid-template-rows: auto auto auto 2100px auto;
    }

    section#vision {
        div.visionini {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 600px;
            gap: 8px;

        }

        .vitext {
            font-size: 20px;
            margin: 20px;
        }
    }

    #vision,
    .slide {
        height: 50%;
        width: 100%;
    }

    .video {
        width: 100%;
        height: 500px;

    }

    #grilla-p {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 7300px 5000px 5000px 500px;
        grid-template-areas:
            "nav nav nav"
            "productos productos productos"
            "vision vision vision"
            "slide slide slide"
            "footer footer footer";


    }

    .border-p {
        border: none;
    }

    header-p {
        grid-area: nav;
    }

    #slide-p {
        grid-area: slide;
    }

    #prods-p {
        grid-area: productos;
    }


    #vision-p {
        grid-area: vision;
    }

    footer-p {
        grid-area: footer;
    }

    section#prods {
        .cortadoras {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }

        .cortadoras h3 {
            text-align: center;
        }

        .cortadoras p {
            margin-left: 5px;
        }

    }
    section#vision {
        .cortadoras {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }

        .cortadoras h3 {
            text-align: center;
        }

        .cortadoras p {
            margin-left: 5px;
        }

    }
    section#slide-p {
        .cortadoras {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }

        .cortadoras h3 {
            text-align: center;
        }

        .cortadoras p {
            margin-left: 5px;
        }

    }

    footer {
        height: 800px;

        div.padre {
            display: grid;
            width: 100%;
            grid-template-rows: 500px auto;
            grid-template-columns: 1fr;
            gap: 8px;

          div.conteiner {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
        
       }
    }
 }
    .slide-m {
        min-width: 600px;
        max-width: 100%;

    }

}
@media all and (min-width:600px) and (max-width:799px) {
    #grilla {
        grid-template-rows: auto auto auto 2100px auto;
    }

    section#vision {
        div.visionini {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 600px;
            gap: 8px;

        }

        .vitext {
            font-size: 20px;
            margin: 20px;
        }
    }

    #vision,
    .slide {
        height: 50%;
        width: 100%;
    }

    .video {
        width: 100%;
        height: 500px;

    }

    #grilla-p {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 5000px 3800px 4000px 500px;
        grid-template-areas:
            "nav nav nav"
            "productos productos productos"
            "vision vision vision"
            "slide slide slide"
            "footer footer footer";


    }

    .border-p {
        border: none;
    }

    header-p {
        grid-area: nav;
    }

    #slide-p {
        grid-area: slide;
    }

    #prods-p {
        grid-area: productos;
    }


    #vision-p {
        grid-area: vision;
    }

    footer-p {
        grid-area: footer;
    }

    section#prods {
        .cortadoras {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }

        .cortadoras h3 {
            text-align: center;
        }

        .cortadoras p {
            margin-left: 5px;
        }

    }
    section#vision {
        .cortadoras {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }

        .cortadoras h3 {
            text-align: center;
        }

        .cortadoras p {
            margin-left: 5px;
        }

    }
    section#slide-p {
        .cortadoras {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }

        .cortadoras h3 {
            text-align: center;
        }

        .cortadoras p {
            margin-left: 5px;
        }

    }

    footer {
        height: 900px;
        

        div.padre {
            width: 100%;
            grid-template-rows: 800px 100px;
            grid-template-columns: 1fr;
            gap: 8px;

          div.conteiner {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
            flex-direction: column;

       }
    }
 }
    .slide-m {
        min-width: 600px;
        max-width: 100%;

    }

}

@media all and (min-width:360px) and (max-width:599px) {

    #grilla {
        grid-template-rows: auto auto auto 35% auto;
    }


    section#vision {
        div.visionini {
            grid-template-rows: repeat(2, auto);
            grid-template-columns: minmax(350px, 599px);
            gap: 1px;
        }


        .vision-img {
            min-width: 350px;
            width: 100%;

        }

        div.vitext {
            font-size: 10px;
            margin: 5px;
        }

        #vision,
        .slide-img {
            min-width: 350px;
            width: 100%;
            height: 40%;
        }
    }

    .video {
        width: 100%;
        height: 40%;
    }


    #grilla-p {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 5500px 3000px 4300px 500px;
        grid-template-areas:
            "nav nav nav"
            "productos productos productos"
            "vision vision vision"
            "slide slide slide"
            "footer footer footer";


    }

    .border-p {
        border: none;
    }

    header-p {
        grid-area: nav;
    }

    #slide-p {
        grid-area: slide;
    }

    #prods-p {
        grid-area: productos;
    }


    #vision-p {
        grid-area: vision;
    }

    footer-p {
        grid-area: footer;
    }

    section#prods {
        .cortadoras {
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);

        }

        .cortadoras h3 {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .cortadoras p {
            margin-left: 3px;
            font-size: 15px;
        }

        .cortadoras img {
            min-width: 340px;
            width: 100%;

        }
    }

    section#vision {
        .cortadoras {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);

        }

        .cortadoras h3 {
            text-align: center;
        }

        .cortadoras p {
            margin-left: 3px;
            font-size: 15px;
        }

        .cortadoras img {
            min-width: 340px;
            width: 100%;
        }
    }

    section#slide-p {
        .cortadoras {
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);

        }

        .cortadoras h3 {
            text-align: center;
        }

        .cortadoras p {
            margin-left: 3px;
            font-size: 15px;
        }

        .cortadoras img {
            min-width: 340px;
            width: 100%;
        }
    }

    footer {
        height: 900px;


        div.padre {
            width: 100%;
            grid-template-rows: 800px 100px;
            grid-template-columns: 1fr;
            gap: 8px;

        }

        div.conteiner {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
            flex-direction: column;

        }
    }

    .slide-m {
        min-width: 350px;


    }

    .img-pago {
        min-width: 340px;
        width: 100%;
    }

    .contacto-padre {
        flex-direction: column;
    }
    section.marca {
        div.main {
            div.contacto-padre {
                grid-template-rows:repeat(2,1fr);
                grid-template-columns: 1fr;
                margin-bottom: 50px;
            }
        }
    }
}
@media screen and (min-width: 1500px) {
    .navini {
        div.navbar-nav {
            a:hover{
            color: gray;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
          }
        }
    }
   
    div.img-envios {
        img:hover {
            opacity: 0.65;
            transform: scale(1.1) ;
            -webkit-transform: scale(1.1) ;
            -moz-transform: scale(1.1) ;

        }

    }
    div.maquinas4 {
        img:hover {
            
            transform: scale(1.4) ;
            -webkit-transform: scale(1.4) ;
            -moz-transform: scale(1.4) ;
            

            
        }
    }

    
}