div.main {
    main {
        div.conteiner_pf {
            padding-top: 50px;
            padding-bottom: 50px;
            text-decoration: underline;
            background-color: white;

            a.link1-pf {
                font-weight: 700;
                color: black;
                text-decoration: none;

            }

            a.link2-pf {
                color: gray;
                text-decoration: none;
            }

        }
    }
}