$title-font: normal 15px/1.5 'Nunito', sans-serif;
section{
    background-image: url(../img/fondo-bway.jpg);
}
#grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 700px 900px 2000px 400px;
    grid-template-areas:
        "nav nav nav"
        "slide slide slide"
        "productos productos productos"
        "vision vision vision"
        "footer footer footer";
}

.border {
    border: none;
}

header {
    grid-area: nav;
}

#slide {
    grid-area: slide;
}

#prods {
    grid-area: productos;
}

#vision {
    grid-area: vision;
}

footer {
    grid-area: footer;
}

#grilla-p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 3400px 2200px 2300px 400px;
    grid-template-areas:
        "nav nav nav"
        "productos productos productos"
        "vision vision vision"
        "slide slide slide"
        "footer footer footer";

}

.border-p {
    border: none;
}

.header-p {
    grid-area: nav;
}

#slide-p {
    grid-area: slide;
}

#prods-p {
    grid-area: productos;
}


#vision-p {
    grid-area: vision;
}

.footer-p {
    grid-area: footer;

}

img.slide-img {
    height: auto;
    width: 100%;
    border: solid 1px white;
    border-radius: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contacto-padre {
    display: flex;
    font: $title-font;

    .contacto-redes {
        width: 300px;
        margin-right: 400px;

        a {
            text-decoration: none;
            color: black;
            list-style: none;
        }

        li {
            list-style: none;
        }

    }
}

section.marca {
    background-color: #ffff;
}

.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}



@import "header";
@import "main";
@import "productos";
@import "pf";
@import "contacto";
@import "footer";

@import "mediaqueries"